.Background {
  background-color: darkGray;
}
.HeaderButton {
  background-color: gray;
  border: 3px solid black;
  border-radius: 30px;
  height: 60px;
  max-width: 60px;
  min-width: 60px;
}
.HeaderButton:hover {
  background-color: white;
}
.Search {
  background-color: white;
  border: 3px solid gray;
  border-radius: 30px;
  font-size: 30px;
  height: 60px;
  padding-left: 20px;
}
.saBody {
  border: none;
}
.wBody {
  background-color: darkGray;
}
.BodyHeader {
  font-family: "Lumberjack";
  font-size: 40px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-top: 20px;
}
.Fact {
  border-bottom: 3px solid gray;
}
.FactText {
  font-family: "Evolventa";
  font-size: 20px;
  font-style: italic;
}
.TicketsList {
  background-color: white;
  border-top: 3px solid gray;
  font-family: "Lumberjack";
  font-size: 40px;
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.TicketsList:hover {
  background-color: gray;
}
